.overlay {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.open {
  position: fixed;
  padding: 1.5%;
}

body {
    background: linear-gradient(270deg, #f9b6e1, #f4b9e7, #edbef5);
    background-size: 400% 400%;
    -webkit-animation: colour 5s ease infinite;
    -moz-animation: colour 5s ease infinite;
    -o-animation: colour 5s ease infinite;
    animation: colour 5s ease infinite;
}
@-webkit-keyframes colour {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes colour {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-o-keyframes colour{
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes colour {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}

.logo {
  display: block;
  margin-left:88%;
  max-width: 12%;
  max-height: auto;
  padding: 20px;
  margin-top: -6.0%;
  position: relative;
}

.heading {
  display: block;
  margin-left: 42.5%;
  max-width: 15%;
  max-height: auto;
  position: relative;

}

*{
  margin:0;
  }

  .s-soft{
    position: fixed;
    top: 140px;
    right: 0%;
    z-index: 1000;
    transition:all linear 0.2s ;
  }

.s-soft a:first-child{
    border-radius: 0 5px 0 0;
  }

.s-soft a:last-child{
  border-radius: 0 0 5px 0;
}

.s-item {
  display:block;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  transition: all linear 0.2s ;
}

.s-item:hover {
  width:110px;
  border-radius:0px 20px 20px 0px;
  left: 90%;
}

#so-open {
  position: fixed;
  top: 140px ;
  right: -90px;
  border-radius:0 30px 30px 0;
  transition:all linear 0.1s ;
}


.twitter {
  background-color: #3AAFD6;
}

.print {
  background-color: #de3c7d;
}

.instagram{
  background-color:  #c32aa3;
}

.tiktok {
  background-color: black;
}

.spotify {
  background-color: green;
}

.so-collapse{
  right: -60px;
}

.tiktoklogo {
  max-width: 40%;
  max-height: 40%;
  position: center;
  padding: -1%;
}


.Images {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

.Bandpfp {
  display: block;
  margin: auto;
  max-width: 330px;
  max-height: auto;
  padding: 20px;
}

blockquote {
  text-align: center;
}

h1, h2, h3, h4 {
  padding: 20px;
  margin: auto;
  max-width: 1500px;
  font-size: 1.5em;
  font-family: monospace;
  text-align: center;
}

.header {
  border: 3px white solid;
}

.awards {
  font-style: oblique;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

footer .dmu {
  float: left;
  max-width: 15%;
  max-height: 15%;
  margin-bottom: 2%;
  margin-top: 2%;
  position: relative;
}

footer .details {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;

}

footer {
  border: 1px white solid;
  max-width: 20%;
  font-size: 0.7em;
}


.floatfix {
  margin: auto;
  max-width: 500px;
  position: relative;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  font-family:monospace;
  font-size: 1.2em;
   border: 1px black solid;
  background-image: url("../Images/1092573w.jpg");
}

.info {
    margin:auto;
    max-width: 500px;
    position: relative;
    padding: 20px;
    display:block;
  }

  .solomusic {
    padding: 20px;
    margin-bottom: auto;
    max-width: 1500px;
    max-height: auto;
    font-size: 1em;
    font-family: monospace;
    text-align: left;
    text-decoration: underline;
  }

  .name {
    padding: 20px;
    margin: auto;
    max-width: 1500px;
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;
  }

  .songs {
    padding-left:  20px;
  }

  iframe {
    margin: auto;
    max-width: 355px;
    position: relative;
    display: block;
  }
